<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main class="cds_main">
      <section>
        <div class="fore-el">
          <h2>Saydia Sidi Bou Said - Admin</h2>
        </div>
        <div class="fore-el aj_mem">
          <h2>Me Connecter</h2>
          <form action="/login/n" method="POST" class="aj_mem_frm">
            <div class="aj_mem_inp">
              <input
                type="text"
                placeholder="Nom d'utilisateur"
                name="username"
                autocomplete="off"
                required
              />
            </div>
            <div class="aj_mem_inp">
              <input
                type="password"
                placeholder="Mot de pass"
                name="password"
                required
              />
            </div>
            <div class="aj_mem_inp_sub" id="ss_btn_res">
              <input class="btn_cds btn-regular" type="submit" value="Ok" />
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
