<link rel="stylesheet" href="./navbar.css" />
<nav class="fore-el">
  <div class="nv_bt_icon">
    <button onclick="navigate('/marche')">
      <i class="fa fa-running"></i>
      <p><%= marcheMembersCount %> Membre(s)</p>
    </button>
    <button onclick="navigate('/foot')">
      <i class="fa fa-futbol"></i>
      <p><%= footMembersCount %> Membre(s)</p>
    </button>
  </div>
  <script>
    function navigate(location) {
      window.location.href = location;
    }
  </script>
</nav>
