<link rel="stylesheet" href="./navbar.css" />
<nav class="fore-el">
  <div class="nv_bt_icon">
    <button>
      <i class="fa fa-running"></i>
      <p><%= allMembers.length %> Membre(s)</p>
    </button>
    <button>
      <i class="fa fa-futbol"></i>
      <p>0 Membre(s)</p>
    </button>
  </div>
</nav>
